body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* background-color: #001e3c;
  color: white; */
}

.App {
  /* background-color: #001e3c; */
  /* background-color: #3c3c3c; */
  /* color: white; */
}
.light__turnOff {
  background-color: #3c3c3c;
  color: white;
}
